<header id="primer-header">
        
    <div class="logo">
        <a href="/"><img src="/img/TuristAr-logo2.png" alt="logo"></a>
    </div>
<!-- 
    <div class="botones">
        <div class="login">
            <a href="/login">INICIAR SESION</a>
        </div>
        <div class="register">
            <a href="/Register">REGISTRATE</a>
        </div>
    </div>
     -->
    <div class="barra">
        <button class="boton-de-inputs">
            <input class="campo" type="text" name="destino" placeholder="¿A dónde vas?">
            <input class="campo" type="date" name="fecha-entrada" placeholder="Fecha de entrada">
            <input class="campo" type="date" name="fecha-salida" placeholder="Fecha de salida">
            <input class="campo" type="number" name="viajeros" placeholder="Viajeros">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="usuario">
        <i class="fas fa-bars"></i>
        <i class="fa-solid fa-user"></i>
    </div>
</header>